# Introduction to Data Science Tools

In this notebook, we will introduce the common data science langauges, libraries and tools which includes basic examples

# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Data Science Langauges:
- Python
- R
- SQL
- Julia

# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Data Science Libraries:
- NumPy
- Pandas
- Matplotlib
- Scikit-learn

# Exercise 6: Create a markdown cell with a table of Data Science tools

| Tool         | Description                                   |
|--------------|----------------------------------------------|
| Jupyter      | Interactive notebooks for data analysis     |
| RStudio      | IDE for R programming                        |
| Tableau      | Data visualization tool                     |
| Power BI     | Business analytics tool                     |

# Exercise 7: Create a markdown cell introducing arithmetic expression examples

Below are some basic arithmetic operations demonstrated in Python.

# Exercise 8: Create a code cell to multiply and add numbers

In [9]:
# multiplication 
result  = 6*7
# addition 
sum_result = 10 + 10
print("the result of the multiplication is:", result)
print("the result of the addition result is:", sum_result)

the result of the multiplication is: 42
the result of the addition result is: 20

# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [10]:
minutes = 120
hours = minutes/60
print("Hours:", hours)

Hours: 2.0

# Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Objectives:
- Learn about Data science langauges and libraries
- Practice basic operation in Python 
- Learn more on how to use the Jupyter Notebook

# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

**Author: Kaewsai S.**